# Dependencies
node_modules/

# VitePress build outputs & caches
.vitepress/dist/
.vitepress/cache/

# Local env files
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
